* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(68.15deg, #4d4d5a 16.62%, #3b3b47 85.61%);  /*rgba(63, 57, 57, 0.459)*/
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
}

a > img {
    height: 180px;
}

header {
    background: rgba(0, 0, 0, 0.3);
}

.container {
    
    width: 920px;
    margin: 0 auto;
    padding: 10px;
}

h2 {
    color: #c94304;
}

.data-post {
    font-size: 0.8em;
}

.caixas {
    width: 660px;
    float: left;
    color: #fff;
    
}

.caixa-1 {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #333232;
}

.caixa-1 > img {
    padding: 10px;
}

.caixa-2 {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #333232;
}

.caixa-2 > img {
    padding: 10px;
}

.caixa-3 {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #333232;
}

.caixa-3 > img {
    padding: 10px;
}

.caixa-4 {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #333232;
}

.caixa-4 > img {
    padding: 10px;
}

.barra-lateral {
    width: 245px;
    float: right;
    padding-right: 150px;
    
}

.caixa-lateral {
    background-color: #504e4e;
    width: 140%;
    padding: 10px;
    border-bottom: 1px solid #fff;

}

.caixa-lateral:last-child {
    border: none;
}

.caixa-lateral h3 {
    background: #c94304;
    text-align: center;

}

.caixa-lateral h4 {
    color: #fff;
    text-align: center;
    border: 1px solid #000;
    background: #000;
}

.caixa-lateral p {
    padding-top: 3px;
    color: #fff;
}

hr {
    width: 361px;
}

@media screen and (max-width: 480px) {
    header {
        width: 220%;
    }
    a > img {
        height: 50px;
    }

    .container {
        width: 100%;
        box-sizing: border-box;
    }

    .caixas {
        width: 100%;
        float: none;
    }

    .caixa-1,
    .caixa-2,
    .caixa-3,
    .caixa-4 {
    width: 100%;
    margin-right: 0;
    float: none;
}

.caixa-1 > img,
.caixa-2 > img,
.caixa-3 > img,
.caixa-4 > img {
    height: 80%;
    width: 80%;
}

.barra-lateral {
    width: 100%;
    float: none;
    padding-right: 0;
}

}   